doctype html
html
  head
    meta(charset="UTF-8")
    title Đơn hàng mới
    style.
      body {
        font-family: Arial, sans-serif;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
  body
    h1 Đơn hàng mới
    b Mã đơn hàng: #{id}
    p Giá tạm tính: #{temp_price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}
    p Giảm giá: #{discount.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}
    p Tổng giá: #{total_price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}
    p Phí vận chuyển: #{ship_price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}
    if note
      p Ghi chú: #{note}

    h2 Sản phẩm
    table
      thead
        tr
          th Tên sản phẩm
          //- th Danh mục
          th Giá
          th Số lượng
          th Tổng tiền
      tbody
        each item in items
          tr
            //- td
            //-   img(src=item.image, alt=item.title, width="100")
            td #{item.title} - #{item.variant_title}
            //- td #{item.category_title} 
            td #{item.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}
            td #{item.quantity}
            td #{item.line_price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}

    if promotions.length > 0
      h2 Khuyến mãi
      ul
        each promotion in promotions
          li #{promotion}

    if customer
      h2 Khách hàng
      p ID Khách hàng: #{customer_id}

    if payment
      h2 Thanh toán
      table
        thead
          tr
            th Phương thức
            th Số tiền
            //- th Trạng thái
            th Ngày thanh toán
        tbody
          tr
            td #{payment.method}
            td #{payment.amount.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}
            //- td #{payment.status}
            td #{payment.payment_date || 'Chưa thanh toán'}

    if shipping
      h2 Vận chuyển
      table
        thead
          tr
            th Địa chỉ 

            //- th Địa chỉ
            //- th Tỉnh
            //- th Quận/Huyện
            //- th Phường/Xã
            //- th Quốc gia
            th Số điện thoại
            th Người nhận
            //- th Ngày giao hàng
            //- th Mã vận đơn
        tbody
          tr
            td #{shipping.address_full}

            //- td #{shipping.address}
            //- td #{shipping.province}
            //- td #{shipping.district}
            //- td #{shipping.ward}
            //- td #{shipping.country}
            td #{shipping.phone}
            td #{shipping.fullname}
            //- td #{shipping.ship_date || 'Chưa xác định'}
            //- td #{shipping.tracking_number || 'Chưa có'}
